
.immaginecontatti{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  margin: 3px solid black;
}
.contattaci{
  position: absolute;
  color: white;
  background-color: black;
  font-size: 50px;

}

.boxContatti{
    display: flex;
    margin-top: 0;
}
.cardcontatto{
    margin-top: 3%;
    background-color: #a4c3b2ff;
    width: 30%;
    margin-left: 2.5%;
    height: 600px;
    border-radius: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid #52796f;

}
.fotocontatti{
  background-image: url("https://i.pinimg.com/280x280_RS/e5/a8/1f/e5a81f1e0262f503983dcc104d27e8d6.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border-radius: 50%;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: 25%;
  margin-top: 10%;
  margin-bottom: 4%;
}