.box_providers{
    display: block;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.img{
    width: 6vw;
    height: auto;
    object-fit: contain;
    border: 2px solid black;
    margin: 3px;
}

.text{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3vw;
}
@media (max-width: 600px){
    .text{
        font-size: 13px;
    }
}