@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Prosto+One&family=Vast+Shadow&display=swap');

.titolo_film{
    text-align: center;
    font-family: "Prosto+One", cursive;
    font-size: 2.2vw;
    margin: 0;
}

.link{
    display: inline-flex;
    align-items: center;
    font-size: 2.0vw;
    font-weight: bold;
    color: #a4c3b2ff;
    margin-left: 10px;
    text-decoration: none;
}
.link:hover{
    transition-duration: 0.4s;
    text-decoration: underline;
}
#film_simili{
    font-size: 20px;
    margin-bottom: 20px;
    color: #a4c3b2ff;
}

.locandina{
    display: flex;
    height: auto;
    width: 100%;
    object-fit: contain;
    border: 3px solid black;
    box-sizing: border-box;
}
@media (max-width: 600px){
    .locandina{
        display: flex;
        object-fit: contain;
        height: auto;
        width: 100%;
        border: 3px solid black;
        box-sizing: border-box;
    }
}

.valutazione{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
}
.rating {
    font-size: 1.2vw;
    flex-wrap: nowrap;
}

@media (max-width: 900px){
    .valutazione{
        flex-direction: column;
    }
}

@media (max-width: 900px){
    .rating {
        font-size: 12px;
        margin-bottom: 1px;
    }
}


.testo{
    display: flex;
    gap: 5px;
    font-size: 1.5vw;
    overflow-wrap: break-word;
    margin-top: 0;
}
@media (max-width: 600px){
    .testo{
        font-size: 15px;
    }
}

.stack{
    align-items: center;
    margin: 20px;
}
@media (max-width: 600px){
    .stack{
        flex-wrap: wrap;
        gap: 2px;
    }
}