.sfondo {
    position: relative;
    min-height: 100vh;
    background: url("https://i.imgur.com/Abm0wRq.jpg") center/cover no-repeat;
    overflow: hidden;
}

/* livello di sfondo sfocato */
.sfondo::before {
    content: "";
    position: absolute;
    inset: 0; /* prende tutta l'area del genitore (sfondo login), equivale a top 0, left 0, bottom 0, right 0 */
    background: inherit;          /* eredita tutto lo sfondo in un’unica proprietà */
    filter: blur(8px);
    transform: scale(1.05);
    z-index: 0;
}

/* contenitore principale della pagina */
.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
    position: relative;
    z-index: 1;
}

.page-container form {
    display: flex;
    flex-direction: column; /* Mette gli elementi in colonna */
    gap: 3rem; /* Spazio tra i gruppi del form */
    padding: 4rem;
    margin-bottom: 3.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #a4c3b2ff;
    min-width: 350px;
    max-width: 350px;
    width: 100%;
}


.page-container h2 {
    text-align: center;
    color:#344e41
}


.page-container button {
    margin-top: 2rem;
    padding: 0.75rem;
    border: none;
    border-radius: 20px;
    background-color: #344e41;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

.page-container button:hover {
    background-color: black;
}


.registration-login-link{
    margin-top: 4rem;
    background-color: #000000;
    padding:0.5%;
    color:white;
}

/*classe creata per gestire l'allineamento a destra */
.forgot-password-container{
    background-color: #344e41;
    padding: 0.5%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 3.5rem;
    text-align: left;
    
}

button.link-style-button {
    /* Resetta l'aspetto del pulsante */
    background: none;
    border: none;
    padding: 0;
    margin-top: 10px;

    /* Applica l'aspetto di un link */
    color: white; 
    text-decoration: none;
    font-family: inherit;
    font-size: 0.85rem; /* Più piccolo */
    

    /* Comportamento interattivo */
    cursor: pointer;
}

/* Aggiunge la sottolineatura al passaggio del mouse */
button.link-style-button:hover {
    background: none;
    text-decoration: underline;
}


