body{
    background-color: #354f52;
}

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Prosto+One&family=Vast+Shadow&display=swap');

#titolohome1{
    text-align: center;
}

#sottotitolo{
    text-align: center;
    font-family: 'Prosto One';
}

.card{
    max-width: max-content;
    max-height: 50%;
    width: 100%;
    height: 60%;
    border-radius: 60px;
}

.box-carosello{
    text-align: center;
    display: flex;
    overflow: hidden;
    gap: 16px;
    justify-content: center;
    white-space: nowrap;
    text-overflow-ellipsis: auto;
    align-content: center;
    margin-top: 16px;
}

.carosello-image {
    transition: transform 0.3s ease;
    width: 17vw;
    height: 45vh;
    border-radius:30px;
}

.carosello-image:hover {
    transform: scale(1.05);
}

title{
    font-size: 50;
    font-family: 'Prosto One';
}

#titolo1{
    text-align: center;
    color: #cad2c5;
    font-size: 50px;
    font-family: 'Prosto One';
}

.riquadro{
    width:15vw;
    text-overflow:"ellipsis"
}

p{
    color: #cad2c5
}

