body{
    background-color: #354f52;
}

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Prosto+One&family=Vast+Shadow&display=swap');

#titolo{
    text-align: center;
    color: #cad2c5;
    font-size: 50px;
    font-family: 'Prosto One';
}

#slogan{
    text-align: center;
    font-family: 'Prosto One';
}

.card{
    max-width: max-content;
    max-height: 50%;
    width: 100%;
    height: 60%;
    border-radius: 60px;
}

.carosello{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
}

.carosello-image {
    transition: transform 0.3s ease;
    width: 17vw;
    height: 45vh;
    border-radius:30px;
}

.carosello-image:hover {
    transform: scale(1.05);
}


